<div class="header fixed flex">
    <div class="page-title">Create team</div>
    <div class="spacer"></div>
</div>

<div class="container">
    <div class="spacer"></div>

    <div class="left-container">

        <p class="title">Enter team details (*)</p>

        <div class="card">
            <form>
                <mat-form-field appearance="fill" class="w100">
                    <mat-label>Team Name</mat-label>
                    <input matInput />
                </mat-form-field>
                <mat-form-field appearance="fill" class="w100">
                    <mat-label>Team Description</mat-label>
                    <input matInput />
                </mat-form-field>
            </form>
        </div>

        <mat-divider class="divider"></mat-divider>


        <p class="title">Add team members from existing users (*)</p>

        <mat-form-field class="w100">
            <input matInput placeholder="Filter users by name, company or title" />
        </mat-form-field>

        <div class="list">
            <div class="item">
                <div class="avatar"></div>
                <div class="username">[User Name]</div>
                <div class="spacer"></div>
                <div>
                    <div class="usercompany">[User Company]</div>
                    <div class="usertitle">[User Title]</div>
                </div>
                <div class="spacer"></div>

                <div class="role-select">
                    <mat-select placeholder="Team Member Role">
                        <mat-option>1sad</mat-option>
                        <mat-option>2sad</mat-option>
                        <mat-option>3sad</mat-option>
                        <mat-option>4sad</mat-option>
                    </mat-select>
                </div>
            </div>

            <div class="item">
                <div class="avatar"></div>
                <div class="username">[User Name]</div>
                <div class="spacer"></div>
                <div>
                    <div class="usercompany">[User Company]</div>
                    <div class="usertitle">[User Title]</div>
                </div>
                <div class="spacer"></div>

                <div class="role-select">
                    <mat-select placeholder="Team Member Role">
                        <mat-option>1sad</mat-option>
                        <mat-option>2sad</mat-option>
                        <mat-option>3sad</mat-option>
                        <mat-option>4sad</mat-option>
                    </mat-select>
                </div>
            </div>

            <div class="item">
                <div class="avatar"></div>
                <div class="username">[User Name]</div>
                <div class="spacer"></div>
                <div>
                    <div class="usercompany">[User Company]</div>
                    <div class="usertitle">[User Title]</div>
                </div>
                <div class="spacer"></div>

                <div class="role-select">
                    <mat-select placeholder="Team Member Role">
                        <mat-option>1sad</mat-option>
                        <mat-option>2sad</mat-option>
                        <mat-option>3sad</mat-option>
                        <mat-option>4sad</mat-option>
                    </mat-select>
                </div>
            </div>

        </div>

        <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>


        <p class="title add-user-button">Cant see desired user?
            <button mat-flat-button>
                Create user
                <mat-icon>add_box</mat-icon>
            </button>
        </p>

        <div class="card">
            <div class="card-header">
                Create User
            </div>
            email
            fname
            lname
            phone
            company
            title
            <div class="card-content">
                <p>Enter user information (*)</p>
                <form class="create-user-form">
                    <mat-form-field appearance="fill" class="email">
                        <mat-label>Email Address</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="fname">
                        <mat-label>First Name</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="lname">
                        <mat-label>Last Name</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="phone">
                        <mat-label>Phone Number</mat-label>
                        <input matInput>
                    </mat-form-field>

                    <mat-form-field appearance="fill" class="company">
                        <mat-label>Company Name</mat-label>
                        <input matInput>
                    </mat-form-field>

                    <mat-form-field appearance="fill" class="title">
                        <mat-label>Title</mat-label>
                        <input matInput>
                    </mat-form-field>

                    <div class="alertInfo">
                        <mat-icon>info</mat-icon> This user ill be added with "Unlicensed User" security role.
                    </div>

                    <mat-form-field appearance="fill" class="teamRole">
                        <mat-select placeholder="Team Member Role">
                            <mat-option>1sad</mat-option>
                            <mat-option>2sad</mat-option>
                            <mat-option>3sad</mat-option>
                            <mat-option>4sad</mat-option>
                        </mat-select>
                    </mat-form-field>
                </form>

                <div class="flex">
                    <div class="spacer"></div>
                    <button mat-flat-button color="primary">Create user</button>
                </div>
            </div>
        </div>
    </div>

    <div class="right-container">
        <div class="card team-summary">
            <div class="team-summary-header">
                <mat-icon>format_align_left</mat-icon>
                <div class="title">Team summary</div>
            </div>

            <div class="content">
                <div class="empty-content">
                    <div class="spacer"></div>
                    <div>
                        There is no team details yet.
                    </div>
                    <div class="spacer"></div>

                </div>
            </div>
        </div>
    </div>

    <div class="spacer"></div>
</div>

<div class="footer">
    <button mat-button>Cancel</button>
    <div class="spacer"></div>
    <div class="info">Fields marked with (*) are required</div>
    <button mat-flat-button color="primary">Create team</button>
</div>